<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div>Order Confirmation</div>
	<div id="shippingDiv" class="col-md-6 col-sm-12">
		<div>
			<span>You Bought this for </span><b
				th:text="${order.forUser.firstName} + ' ' + ${order.forUser.lastName}"></b>
		</div>
		<div th:if="${order.shippingAddress!=null}"
			th:text="${order.shippingAddress.formattedAddress}"></div>
	</div>
	<div>
		<table class="table">
			<thead>
				<tr>
					<td>Product</td>
					<td>Price</td>
					<td>Quantity</td>
					<td>Total</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="orderProduct:${order.orderProducts}">
					<td th:text="${orderProduct.product.name}"></td>
					<td th:text="${orderProduct.soldPrice}"></td>
					<td th:text="${orderProduct.quantity}"></td>
					<td th:text="${orderProduct.totalPrice}"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td th:text="${order.totalPrice}"></td>
				</tr>
			</tfoot>
		</table>
	</div>

</body>
</html>