<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<div>
		Thank you for registering <span th:text="${firstName}">Anteneh</span>.
	</div>
	<div>
		To get full Experience, please <a
			th:attr="href=${baseURL}+'/friends/search'">Invite your friends</a>
		and <a>Add products to your Wish List</a>
	</div>

</body>
</html>